/* fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic");
/* backgroud colors */
/* Mixins */
h1, h2, h3, h4, h5 {
  margin-top: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #212121; }

input, textarea, button, .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

a {
  color: #212121; }
  a :hover, a :focus {
    color: #212121; }

.h-green-square, .green-square {
  width: 10px;
  height: 10px;
  background: #6bc200;
  display: inline-block; }

h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold; }

.btn-primary {
  background: #ff9907;
  border: 0; }

.navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 100px;
  padding-top: 10px; }

.navbar-brand img {
  height: 40px; }

#navbar ul {
  float: right; }

.navbar-form {
  display: block;
  text-align: center; }
  .navbar-form .wrapper div {
    display: inline-block;
    margin-top: 10px;
    background: url(/images/search-bg.png) no-repeat top center;
    background-size: 250px;
    width: 250px;
    height: 40px; }
    .navbar-form .wrapper div button {
      background: none;
      border: 0; }
      .navbar-form .wrapper div button img {
        width: 26px;
        margin-top: 5px;
        margin-left: -2px; }
    .navbar-form .wrapper div input {
      display: inline-block;
      border: 0;
      width: 196px;
      height: 30px;
      margin-top: 5px; }

.navbar-inverse .navbar-nav ul {
  margin-right: 100px; }

.navbar-inverse .navbar-nav > li {
  width: 100px;
  margin-right: 50px;
  text-align: center; }
  @media (min-width: 768px) {
    .navbar-inverse .navbar-nav > li {
      margin-right: 0; } }
  .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    text-transform: uppercase; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #ff9907; }

/* mobile */
#navbar {
  background-color: #222; }

@media (max-width: 767px) {
  .navbar {
    height: auto; }

  .navbar-brand {
    padding: 0 15px;
    margin-top: -5px; }

  #navbar ul {
    float: none; }

  .navbar-inverse .navbar-nav > li {
    width: auto;
    margin-right: 0; }

  .navbar-form .wrapper div {
    margin-top: 0; }

  .navbar-form .wrapper div button {
    display: inline img;
      display-margin-top: 0; } }
.section {
  margin-top: 50px; }
  .section hr {
    margin: 50px 0 0; }

.section-buttons {
  text-align: center; }
  .section-buttons a {
    display: inline-block;
    background: url(/images/button-bg-green.png) no-repeat;
    background-size: 170px;
    width: 170px;
    height: 50px;
    margin: 10px;
    padding-top: 12px;
    font-weight: bold;
    text-transform: uppercase; }

.section-thumbs img {
  width: 100%; }
.section-thumbs span {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center; }
.section-thumbs .button-more {
  text-align: center; }
  .section-thumbs .button-more a {
    display: inline-block;
    background: url(/images/button-bg-orange.png) no-repeat;
    background-size: 170px;
    width: 170px;
    height: 30px;
    margin: 10px;
    padding: 3px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase; }
.section-thumbs .h-green-square {
  margin-left: 15px; }
.section-thumbs h2 {
  margin-bottom: 50px; }

.section-setka img {
  width: 32px; }

.section-match .gazon {
  background: url(/images/grass-big-bg_low.jpg) repeat-x bottom left;
  background-size: 100%;
  min-height: 200px;
  padding: 50px 0;
  text-align: center !important;
  color: #ffffff; }
  .section-match .gazon h1 img {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .section-match .gazon .when, .section-match .gazon .stage, .section-match .gazon .where {
    font-size: 20px; }
  .section-match .gazon .player-wrapper {
    margin: 50px auto;
    text-align: center; }
    .section-match .gazon .player-wrapper #player {
      width: 600px;
      margin: 0 auto; }
.section-match .history, .section-match .sostav {
  margin-top: 50px;
  margin-bottom: 20px; }
.section-match .sostav img {
  width: 100px; }
.section-match .sostav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px; }
  .section-match .sostav ul li:first-child {
    font-weight: bold; }
.section-match .sostav .sostav-left {
  text-align: right; }
.section-match .facts .facts-left {
  text-align: right; }

.section-login {
  text-align: center; }
  .section-login img.cup {
    width: 150px; }
  .section-login h2 {
    margin: 30px auto 30px;
    font-size: 18px; }
  .section-login h1 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px; }
  .section-login .form-email div.email-bg {
    display: inline-block;
    margin-top: 10px;
    background: url(/images/orange-bg.png) no-repeat top center;
    background-size: 250px;
    width: 250px;
    height: 40px;
    text-align: left; }
    .section-login .form-email div.email-bg .email-txt {
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      padding: 0 7px 0 10px; }
    .section-login .form-email div.email-bg input {
      display: inline-block;
      border: 0;
      width: 178px;
      height: 30px;
      margin-top: 5px; }
  .section-login .form-email .error {
    color: red; }
  .section-login .form-email div.button {
    margin-top: 10px; }
    .section-login .form-email div.button button {
      width: 250px;
      height: 40px;
      background: url(/images/orange-bg.png) no-repeat top left;
      background-size: 250px;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      border: 0;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      text-transform: uppercase; }
  .section-login .notes {
    text-align: left;
    margin-top: 50px; }
    .section-login .notes img {
      width: 10px; }
  .section-login .success h1 {
    margin: 30px 0;
    text-transform: none;
    font-size: 36px; }
  .section-login .success .big {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px; }
  .section-login .success .txt {
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 50px; }

/* Footer */
.footer-spacer {
  height: 250px; }

footer {
  margin-top: 50px;
  height: 200px;
  background: url(/images/grass-bg3_.jpg) repeat-x top left;
  background-size: auto 200px;
  padding-top: 75px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  footer .txt {
    line-height: 100px;
    vertical-align: middle;
    color: #ffffff; }
    @media (max-width: 767px) {
      footer .txt {
        font-size: 12px; } }
    footer .txt .logo-persik {
      width: 150px;
      margin-left: 10%;
      margin-top: -30px; }
      @media (max-width: 767px) {
        footer .txt .logo-persik {
          display: block;
          width: 100px; } }
    footer .txt .icon-contacts {
      width: 32px;
      margin-left: 35%;
      margin-right: 10px; }
      @media (min-width: 768px) {
        footer .txt .icon-contacts {
          margin-left: 20%; } }
      @media (max-width: 767px) {
        footer .txt .icon-contacts {
          margin-left: 10%;
          width: 24px; } }
  footer .logo-volk {
    text-align: center; }
    footer .logo-volk img {
      width: 165px;
      margin-top: -130px; }

/*# sourceMappingURL=styles.css.map */
