RewriteEngine On

RewriteCond %{REQUEST_URI} ^/(images|js|css)
RewriteRule ^ - [L,QSA]

RewriteRule ^favicon\.ico /favicon/favicon.ico [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]