html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height:1.7em;
  color: $base-font-color;
}

input, textarea, button, .form-control {
  @include border-radius(0);
}


a {
  color: $link-color-primary;

  :hover, :focus {
    color: $link-color-primary;
  }
}



.h-green-square, .green-square {
  width: 10px;
  height: 10px;
  background: $secondary-color;
  display: inline-block;
}



h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}


.btn-primary {
  @include add-background($primary-color);
  border: 0;
}