.h-green-square, .green-square {
  width: 10px;
  height: 10px;
  background: $secondary-color;
  display: inline-block;
  margin-left: 15px;
}

h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 50px;
}