/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic');

$base-font-family: 'Roboto Condensed', sans-serif;
$base-font-family-bold: 'Roboto Condensed', sans-serif;
$base-font-size: 15px;
$base-font-color: #212121;
$link-color-primary: #212121;
$link-color-secondary: #ffffff;


/* backgroud colors */
$primary-color: #ff9907;
$secondary-color: #6bc200;
$light-color: #e8f087;

