/* Footer */

footer {
  margin-top: 50px;
  height: 200px;
  //background: url(/images/footer-bg2.png) repeat-x top left;
  background: url(/images/footer-bg3.png) repeat-x top left;
  //background: url(/images/footer-bg3_.jpg) repeat-x top left;
  background-size: auto 200px;
  padding-top: 75px;

  .logo-persik {
    img {
      width: 100%;
    }
  }

  .contacts {
    display: table-cell;
    vertical-align: middle;
    color: $link-color-secondary;
    ul {
      list-style: none;
      li {
        height: 40px;
      }
    }
    img {
      display: inline-block;
      width: 32px;
      margin-right: 10px;
    }
  }

  .logo-volk img {
    width: 100%;
    margin-top: -130px;
  }

}